body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (pointer: coarse) {
  body {
    /* https://stackoverflow.com/questions/66151807/how-to-disable-text-selection-on-touch-press */
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grey-bkg-on-hover:hover {
  background: rgba(211, 211, 211, 0.2);
}

.underline-on-hover:hover {
  text-decoration: underline;
}

button.MuiTab-root {
  border: 1px solid rgba(211, 211, 211, 0.68);
  border-radius: 5px 5px 0 0;
}

button.MuiTab-root:hover {
  background-color: rgba(211, 211, 211, 0.68);
}

button.MuiTab-root.Mui-selected {
  border-color: #1976d2;
}

button.MuiTab-root .MuiButtonBase-root:hover {
  background-color: rgba(220, 22, 22, 0.6);
}

div.MuiAccordionSummary-root {
  min-height: 0;
}

div.MuiAccordionSummary-content {
  margin: 3px 0;
}

.table-single-border {
  border-collapse: collapse;
  border: 1px solid black
}

.rotateM90 {
  transform: rotate(-90deg);
}

.pencil-img {
  content: url("./img/pencil.svg");
  width: 0.9em;
  transform: scale(-1, 1);
}

.magnifying-glass-img {
  content: url("./img/magnifying_glass.svg");
  width: 0.9em;
  transform: scale(-1, 1);
}

.turnstile-img {
  content: url("./img/turnstile.svg");
  width: 0.7em;
}