body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (pointer: coarse) {
  body {
    /* https://stackoverflow.com/questions/66151807/how-to-disable-text-selection-on-touch-press */
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grey-bkg-on-hover:hover {
  background: rgba(211, 211, 211, 0.2);
}

.underline-on-hover:hover {
  text-decoration: underline;
}

.table-single-border {
  border-collapse: collapse;
  border: 1px solid black
}

.rotateM90 {
  transform: rotate(-90deg);
}